{% extends "base_general_transparentbar.html" %}
{% load light_tags %}
{% block title %}
    归梓|关于我们
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/shop">
            <div>商店</div>
            <span>Lets Start</span>
        </a>
            <ul>
                <li><a href="/shop/list/">
                    <div><i class="icon-line-layout"></i>所有商品</div>
                    <span>&nbsp;</span>
                </a></li>
            </ul>
        </li>
        <li><a href="/portfolio">
            <div>项目图库</div>
            <span></span>
        </a>
        </li>
        <li><a href="/article/?t=1">
            <div>家居资讯</div>
            <span></span>
        </a>
        </li>
        <li><a href="/article/?t=2">
            <div>装修知识</div>
            <span></span>
        </a>
        </li>
        <li class="current"><a href="/about-us">
            <div>关于归梓</div>
            <span></span>
        </a>
        </li>
        <li><a href="/find-us">
            <div>找到我们</div>
            <span></span>
        </a>
        </li>
    </ul>
{% endblock %}

{% block slider %}
    <section id="page-title" class="page-title-parallax page-title-dark"
             style="padding: 250px 0; background-image: url('/static/images/about-us.jpg'); background-size: cover; background-position: center center;"
             data-stellar-background-ratio="0.4">
        <div class="container clearfix">
            <h1>关于归梓<img src="/static/images/logo.png" style="height:60px"></h1>
            <span>百感交荡者，唯归梓者尤甚</span>
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li class="active">关于归梓</li>
            </ol>
        </div>
    </section>
{% endblock %}

{% block center-content %}
    <!-- Content
           ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_one_third">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>匠心</h4>
                    </div>
                    <p>一个人只有具有真正的工匠一般的精神，才有可能将腐朽变为神奇。在我们的服务和细节上只有做到能力上的最极致才有可能超出用户的预期值，让他们知道“回家”并不只是一个动词，而是一种精神意义上的回归，回归到简朴回归到踏实的家庭生活。通过这些产品，这些物件所散发的最真挚的生活的味道</p>

                </div>
                <div class="col_one_third">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>设计</h4>
                    </div>
                    <p>原言哉曾经说过：“每个人都可以做一个设计师，因为你可以设计的不仅仅是一般意义上的“设计”，还有你的生活”家庭生活永远占据着一个人内心最柔软的地方，一个设计感突出的物件是家庭生活里最跳跃的元素，设计的重要性在于，你知道生活是平淡无奇的，你也知道他需要节奏。而回家所提供这些独具创意的软装产品，要做的正是如此。</p>
                </div>
                <div class="col_one_third col_last">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>故事</h4>
                    </div>
                    <p>希望这些有价可循的产品终有一天成为你家无价可依的温暖和感动。这也正是“回家”所倡导的与别的生活馆不一样的特点。我们不敢奢望这些产品在若干年的使用中固若金汤，但是我们却希望我们所销售的产品足以承载家庭生活中那些大大小小的琐事，以及琐事过后的故事。也许，有的产品在还未进入你家之前，就已经有了让你细细品味的故事。</p>
                </div>
            </div>
            <div class="row common-height clearfix">
                <div class="col-sm-6 col-padding"
                     style="background: url('/static/images/intro-1.jpg') center center no-repeat; background-size: cover;"></div>
                <div class="col-sm-6 col-padding" style="background-color: #F5F5F5;">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p>“回家”作为眉山第一个独立自主的原创生活馆品牌，旨在希望通过有品质的产品，有温度的品牌态度。来传递我们对于家的理解</p>
                            <p>“回家”这个原创生活馆品牌更是希望在这个时代里，和目标客户人群80后90后们一起坐下来探讨回家的意义，以及家这个字本身。一个家是一栋房子和几个人还有若干小物件组成的一个微型聚合体，这栋房子这些小物件都是有有价买入的，但是因为那几个人这栋房子这些小物件开始变得无价可依，因为时间和陪伴让这栋房子这些小物件变成了家。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row common-height bottommargin-lg clearfix">
                <div class="col-sm-6 col-padding" style="background-color: #F5F5F5;">
                    <div class="row clearfix">
                            <div class="col-md-12">
                                <p>回家”最想做的就是，希望从“回家”里走出来的那些有价可询的产品终有一天成为你家无价可依的温暖和感动</p>
                                <p>让年轻人群体能够在回家这个品牌上，感受到最想回家的冲动。它所针对的是一群崇尚美学，拥抱温暖注重生活品质和家庭生活的城市新贵群体</p>
                            </div>
                        </div>
                </div>
                <div class="col-sm-6 col-padding"
                                 style="background: url('/static/images/intro-2.jpg') center center no-repeat; background-size: cover;">
                </div>
            </div>

            <div class="container clearfix">

                <div class="clear"></div>

                <div class="heading-block center">
                    <h4>Our Clients</h4>
                </div>

                <ul class="clients-grid grid-6 nobottommargin clearfix">
                    <li><a href="http://logofury.com/logo/enzo.html"><img src="images/clients/1.png" alt="Clients"></a>
                    </li>
                    <li><a href="http://logofury.com"><img src="images/clients/2.png" alt="Clients"></a></li>
                    <li><a href="http://logofaves.com/2014/03/grabbt/"><img src="images/clients/3.png"
                                                                            alt="Clients"></a></li>
                    <li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="images/clients/4.png"
                                                                                    alt="Clients"></a></li>
                    <li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="images/clients/5.png"
                                                                                   alt="Clients"></a></li>
                    <li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="images/clients/6.png"
                                                                                      alt="Clients"></a></li>
                    <li><a href="http://logofury.com"><img src="images/clients/7.png" alt="Clients"></a></li>
                    <li><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a>
                    </li>
                    <li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="images/clients/9.png"
                                                                                 alt="Clients"></a></li>
                    <li><a href="http://logofury.com/logo/bignix-design.html"><img src="images/clients/10.png"
                                                                                   alt="Clients"></a></li>
                    <li><a href="http://logofury.com/"><img src="images/clients/11.png" alt="Clients"></a></li>
                    <li><a href="http://logofury.com/"><img src="images/clients/12.png" alt="Clients"></a></li>
                </ul>

            </div>

            <div class="section footer-stick">

                <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

                <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia
                                        eaque. Repellendus, vero numquam?</p>

                                    <div class="testi-meta">
                                        Steve Jobs
                                        <span>Apple Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos
                                        obcaecati id culpa corporis molestias.</p>

                                    <div class="testi-meta">
                                        Collis Ta'eed
                                        <span>Envato Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam
                                        cum libero illo rerum!</p>

                                    <div class="testi-meta">
                                        John Doe
                                        <span>XYZ Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}