<h4>项目图库</h4>
<div id="oc-portfolio-sidebar" class="owl-carousel portfolio-5">
    {% for portfolio in portfolios %}
    <div class="oc-item">
        <div class="iportfolio">
            <div class="portfolio-image">
                <a href="#">
                    <img src="{{ portfolio.gallery.first.image.url }}" alt="{{ portfolio.name }}">
                </a>
                <div class="portfolio-overlay">
                    <a href="{{ portfolio.gallery.first.image.url }}" class="center-icon"
                       data-lightbox="image"><i class="icon-line-plus"></i></a>
                </div>
            </div>
            <div class="portfolio-desc center nobottompadding">
                <h3><a href="portfolio-single-video.html">{{ portfolio.name }}</a></h3>
                <span>{% for tag in portfolio.tags.names %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var ocClients = $("#oc-portfolio-sidebar");
        ocClients.owlCarousel({
            items: 1,
            margin: 10,
            loop: true,
            nav: false,
            autoplay: true,
            dots: true,
            autoplayHoverPause: true
        });
    });
</script>