{% extends "base_general_transparentbar.html" %}

{% block nav %}
    <ul>
        <li><a href="/shop">
            <div>商店</div>
            <span>Lets Start</span>
        </a>
            <ul>
                <li><a href="/shop/list/">
                    <div><i class="icon-line-layout"></i>所有商品</div>
                    <span>&nbsp;</span>
                </a></li>
            </ul>
        </li>
        <li class="current"><a href="/portfolio">
            <div>项目图库</div>
            <span></span>
        </a>
        </li>
        <li><a href="/article/?t=1">
            <div>家居资讯</div>
            <span></span>
        </a>
        </li>
        <li><a href="/article/?t=2">
            <div>装修知识</div>
            <span></span>
        </a>
        </li>
        <li><a href="/about-us">
            <div>关于归梓</div>
            <span></span>
        </a>
        </li>
        <li><a href="/find-us">
            <div>找到我们</div>
            <span></span>
        </a>
        </li>
    </ul>
{% endblock %}