{% extends "core/portfolio_base.html" %}

{% load light_tags %}
{% load comments %}
{% block title %}
    归梓|{{ portfolio.name }}
{% endblock %}

{% block slider %}
    <section id="page-title" class="page-title-center">
        <div class="container clearfix">
            <h1>{{ portfolio.name }}</h1>

            <div id="portfolio-navigation">
                <a href="#"><i class="icon-angle-left"></i></a>
                <a href="/portfolio"><i class="icon-line-grid"></i></a>
                <a href="#"><i class="icon-angle-right"></i></a>
            </div>
        </div>
    </section>
{% endblock %}

{% block center-content %}
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Portfolio Single Gallery
                ============================================= -->
                <div class="col_full portfolio-single-image">
                    <div class="fslider" data-arrows="true" data-animation="slide">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                {% for image in portfolio.gallery.all %}
                                    <div class="slide">
                                        <a href="{{ image.image.url }}">
                                            <img src="{{ image.image.url }}" alt="">

                                            <div class="slider-caption-top-left">
                                                {{ image.short_content }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
                <!-- .portfolio-single-image end -->
                <div class="col_one_fourth nobottommargin">
                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <div class="panel panel-default events-meta">
                        <div class="panel-body">
                            {{ portfolio.short_content }}
                        </div>
                    </div>
                    <!-- Portfolio Single - Meta End -->

                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="si-share noborder clearfix">
                        <div onmouseover="setShare('{{ portfolio.name }}', ' {{ url }}',
                                '{{ portfolio.short_content }}', '{{ portfolio.gallery.first.image.ur }}');">
                            <div class="jiathis_style_24x24">
                                <span class="jiathis_separator">分享到社交媒体:</span>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a class="jiathis_button_douban"></a>
                                <a href="http://www.jiathis.com/share?uid=2057332"
                                   class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                        </div>
                        <script type="text/javascript">
                            function setShare(title, url, summary, pic) {
                                jiathis_config.title = '我在归梓网发现一个好设计：' + title;
                                jiathis_config.url = url;
                                jiathis_config.summary = summary;
                                jiathis_config.pic = pic
                            }
                            var jiathis_config = {}
                        </script>
                    </div>
                    <!-- Portfolio Single - Share End -->
                </div>

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col_three_fourth portfolio-single-content col_last nobottommargin">
                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <div class="fancy-title title-dotted-border">
                        <h2>{{ portfolio.name }}</h2>
                    </div>
                    <div class="nobottommargin">
                        <p>{{ portfolio.detail_content | safe }}</p>
                    </div>
                    <!-- Portfolio Single - Description End -->
                </div>
                <!-- .portfolio-single-content end -->

                <div class="clear"></div>
                <div class="divider divider-center"><i class="icon-circle"></i></div>
                <!-- Related Portfolio Items
                ============================================= -->
                <h4>Related Projects:</h4>

                <div id="related-portfolio" class="owl-carousel portfolio-carousel">

                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/portfolio/4/1.jpg" alt="Open Imagination">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                                <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/portfolio/4/2.jpg" alt="Locked Steel Gate">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                                <span><a href="#">Illustrations</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i
                                            class="icon-line-play"></i></a>
                                    <a href="portfolio-single-video.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                                <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="images/portfolio/4/4.jpg" alt="Mac Sunglasses">
                                </a>

                                <div class="portfolio-overlay" data-lightbox="gallery">
                                    <a href="images/portfolio/full/4.jpg" class="left-icon"
                                       data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                    <a href="images/portfolio/full/4-1.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single-gallery.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
                                <span><a href="#"><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/portfolio/4/5.jpg" alt="Console Activity">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Console Activity</a></h3>
                                <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single-gallery.html">
                                    <img src="images/portfolio/4/6.jpg" alt="Shake It!">
                                </a>

                                <div class="portfolio-overlay" data-lightbox="gallery">
                                    <a href="images/portfolio/full/6.jpg" class="left-icon"
                                       data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                    <a href="images/portfolio/full/6-1.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="images/portfolio/full/6-2.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="images/portfolio/full/6-3.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single-gallery.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
                                <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single-video.html">
                                    <img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon"
                                       data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single-video.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
                                <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
                                <span><a href="#">Graphics</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/portfolio/4/9.jpg" alt="Bridge Side">
                                </a>

                                <div class="portfolio-overlay" data-lightbox="gallery">
                                    <a href="images/portfolio/full/9.jpg" class="left-icon"
                                       data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                    <a href="images/portfolio/full/9-1.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="images/portfolio/full/9-2.jpg" class="hidden"
                                       data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single-gallery.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Bridge Side</a></h3>
                                <span><a href="#">Illustrations</a>, <a href="#">Icons</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single-video.html">
                                    <img src="images/portfolio/4/10.jpg" alt="Study Table">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i
                                            class="icon-line-play"></i></a>
                                    <a href="portfolio-single-video.html" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-video.html">Study Table</a></h3>
                                <span><a href="#">Graphics</a>, <a href="#">Media</a></span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- .portfolio-carousel end -->
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var relatedPortfolio = $("#related-portfolio");
                        relatedPortfolio.owlCarousel({
                            margin: 30,
                            nav: false,
                            dots: true,
                            autoplay: true,
                            autoplayHoverPause: true,
                            responsive: {
                                0: {items: 1},
                                480: {items: 2},
                                768: {items: 3},
                                992: {items: 4}
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2057332" charset="utf-8"></script>
{% endblock %}