{% extends "core/portfolio_base.html" %}

{% load light_tags %}
{% block title %}
    归梓|商品
{% endblock %}

{% block styles %}
    <style>
        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/include/rs-plugin/css/settings.css" media="screen"/>
{% endblock %}

{% block slider %}
    {% render_shop_slider %}
{% endblock %}

{% block center-content %}
      <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Portfolio Filter
                    ============================================= -->
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                        <li><a href="#" data-filter=".pf-icons">Icons</a></li>
                        <li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
                        <li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
                        <li><a href="#" data-filter=".pf-media">Media</a></li>
                        <li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle">
                        <i class="icon-random"></i>
                    </div>

                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio-1 portfolio-fullwidth clearfix">

                        {% for portfolio in portfolios %}
                        <article class="portfolio-item pf-media pf-icons clearfix">
                            <div class="portfolio-image">
                                <a href="/portfolio/{{ portfolio.slug }}">
                                    <img src="{{ portfolio.gallery.first.image.url }}" alt="{{ portfolio.name }}">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="{{ portfolio.gallery.first.image.url }}" class="left-icon" data-lightbox="image">
                                        <i class="icon-line-plus"></i></a>
                                    <a href="/portfolio/{{ portfolio.slug }}" class="right-icon"><i
                                            class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="/portfolio/{{ portfolio.slug }}">{{ portfolio.name }}</a></h3>
                                <span>{% for tag in portfolio.tags.names %}
                                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                                {% endfor %}</span>

                                <p>{{ portfolio.short_content }}</p>
                                <div class="si-share noborder clearfix">
                                    <!-- JiaThis Button BEGIN -->
                                    <div onmouseover="setShare('{{ portfolio.name }}', ' /portfolio/{{ portfolio.slug }}',
                                            '{{ portfolio.short_content }}', '{{ portfolio.gallery.first.image.ur }}');">
                                        <div class="jiathis_style_24x24">
                                            <span class="jiathis_separator">分享到社交媒体:</span>
                                            <a class="jiathis_button_tsina"></a>
                                            <a class="jiathis_button_qzone"></a>
                                            <a class="jiathis_button_weixin"></a>
                                            <a class="jiathis_button_douban"></a>
                                            <a href="http://www.jiathis.com/share?uid=2057332" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	                                        <a class="jiathis_counter_style"></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/portfolio/{{ portfolio.slug }}" class="button button-3d noleftmargin">详情</a>
                            </div>
                        </article>
                    {% endfor %}
                    </div><!-- #portfolio end -->
                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">
                          function setShare(title, url, summary, pic) {
                              jiathis_config.title = title;
                              jiathis_config.url = url;
                              jiathis_config.summary = summary;
                              jiathis_config.pic = pic
                          }
                          var jiathis_config = {}
                    </script>
                    <script type="text/javascript">
                        jQuery(window).load(function(){
                            var $container = $('#portfolio');
                            $container.isotope({ transitionDuration: '0.65s' });
                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });
                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });
                            $(window).resize(function() {
                                $container.isotope('layout');
                            });
                        });
                    </script><!-- Portfolio Script End -->
                </div>
            </div>
        </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2057332" charset="utf-8"></script>
    <script type="text/javascript" src="/static/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/static/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
{% endblock %}