<div class="widget clearfix">
    <h4>最新上架商品</h4>
    <div id="post-list-footer">
        {% for product in recent_products %}
        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="{{ product.get_cover_url }}" alt="{{ product.name }}"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="/shop/{{ product.id }}">{{ product.name }}</a></h4>
                </div>
                {% if product.is_discount %}
                    <div class="product-price">原价: <del>￥{{ product.origin_price }}</del> <br> 现价: <ins>￥{{ product.new_price }}</ins></div>
                {% else %}
                    <div class="product-price"><ins>￥{{ product.origin_price }}</ins></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="widget clearfix">
    <h4><i class="icon-fire icon-2x" style="color: #C41200"></i>最受欢迎商品</h4>
    <div id="Popular-item">
        {% for product in popular_products %}
        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="{{ product.get_cover_url }}" alt="{{ product.name }}"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="/shop/{{ product.id }}">{{ product.name }}</a></h4>
                </div>
                {% if product.is_discount %}
                    <div class="product-price">原价: <del>￥{{ product.origin_price }}</del> <br> 现价: <ins>￥{{ product.new_price }}</ins></div>
                {% else %}
                    <div class="product-price"><ins>￥{{ product.origin_price }}</ins></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{#<div class="widget clearfix">#}
{#    <h4>Last Viewed Items</h4>#}
{##}
{#    <div class="widget-last-view">#}
{#        <div class="spost clearfix">#}
{#            <div class="entry-image">#}
{#                <a href="#"><img src="images/shop/small/3.jpg" alt="Image"></a>#}
{#            </div>#}
{#            <div class="entry-c">#}
{#                <div class="entry-title">#}
{#                    <h4><a href="#">Round-Neck Tshirt</a></h4>#}
{#                </div>#}
{#                <ul class="entry-meta">#}
{#                    <li class="color">$15</li>#}
{#                    <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i#}
{#                            class="icon-star3"></i> <i class="icon-star3"></i></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="spost clearfix">#}
{#            <div class="entry-image">#}
{#                <a href="#"><img src="images/shop/small/10.jpg" alt="Image"></a>#}
{#            </div>#}
{#            <div class="entry-c">#}
{#                <div class="entry-title">#}
{#                    <h4><a href="#">Green Trousers</a></h4>#}
{#                </div>#}
{#                <ul class="entry-meta">#}
{#                    <li class="color">$19</li>#}
{#                    <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i#}
{#                            class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="spost clearfix">#}
{#            <div class="entry-image">#}
{#                <a href="#"><img src="images/shop/small/11.jpg" alt="Image"></a>#}
{#            </div>#}
{#            <div class="entry-c">#}
{#                <div class="entry-title">#}
{#                    <h4><a href="#">Silver Chrome Watch</a></h4>#}
{#                </div>#}
{#                <ul class="entry-meta">#}
{#                    <li class="color">$34.99</li>#}
{#                    <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i#}
{#                            class="icon-star-half-full"></i> <i class="icon-star-empty"></i></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
