{% extends "base_general_transparentbar.html" %}
{% load light_tags %}
{% block title %}
    归梓|{{ item.name }}
{% endblock %}
{% block styles %}
    <style>
        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }
        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }
        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/include/rs-plugin/css/settings.css" media="screen" />
{% endblock %}

{% block slider %}
    <section id="page-title"  class="page-title-parallax page-title-dark" style="background-image: url('{% if item %} {{ item.cover.image.url }} {% else %} /static/images/shop-bg.jpg {% endif %}');background-size:cover; padding: 120px 0;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
                <h1>
                    {% if item %}
                        {{ item.name }}
                    {% else %}
                        所有商品
                    {% endif %}
                </h1>
                <span>
                    {% if item %}
                        {{ item.short_content }}
                    {% else %}
                        所有商品
                    {% endif %}
                </span>
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li class="active">商店</li>
                </ol>
            </div>
        </section><!-- #page-title end -->
{% endblock %}

{% block center-content %}
 <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
{#                <div class="row">#}
{#                    <div class="col-md-2">#}
{#                        <form method="get" action="/shop">#}
{#                            <div class="form-group">#}
{#                                <select name="t" class="form-control input-lg rounded primary">#}
{#                                    <option selected="selected" value="">选择产品类别…</option>#}
{#                                    {% for type in types %}#}
{#                                        <option value="{{ type.slug }}">{{ type.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last">
                        <!-- Shop
                        ============================================= -->
                        <div id="shop" class="product-2 clearfix">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>显示第{{ paginator.num_pages }}页 </p>
                                </div>
                            </div>
                            {% for product in products %}
                                <div class="product clearfix">
                                    <div class="product-image">
                                        <a href="{{ product.get_cover_url }}"><img src="{{ product.get_cover_url }}" alt="{{ product.name }}"></a>
                                        <a href="{{ product.get_cover_url }}"><img src="{{ product.cover.image.url }}" alt="{{ product.name }}"></a>
                                        {% if product.is_discount %}
                                            <div class="sale-flash" style="background-color: #c9302c"><i class="icon-fire icon-2x"></i>{% widthratio product.new_price product.origin_price 10 %}折</div>
                                        {% endif %}
                                        <div class="product-overlay">
                                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                                        </div>
                                    </div>
                                    <div class="product-desc center">
                                        <div class="product-title"><h3><a href="/shop/{{ product.id }}">{{ product.name }}</a></h3></div>
                                        {% if product.is_discount %}
                                            <div class="product-price">原价: <del>￥{{ product.origin_price }}</del> <br> 现价: <ins>￥{{ product.new_price }}</ins></div>
                                        {% else %}
                                            <div class="product-price"><ins>￥{{ product.origin_price }}</ins></div>
                                        {% endif %}
                                        <div class="product-rating">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-half-full"></i>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div><!-- #shop end -->
                        <ul class="pagination topmargin nobottommargin">
                            {% if paginator.has_previous %}
                                <li class="active"><a href="/shop/list/?p={{ paginator.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            <li><a href="#" class="active">第{{ paginator.num_pages }}页</a></li>
                            {% if paginator.has_next %}
                                <li ><a href="/shop/list/?p={{ paginator.next_page_number }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin">
                        <div class="sidebar-widgets-wrap">
                            {% render_shop_sidebar %}
                            {% render_side_products %}

{#                            <div class="widget clearfix">#}
{#                                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FEnvato&amp;width=240&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=499481203443583" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:290px;" allowTransparency="true"></iframe>#}
{#                            </div>#}

                            <div class="widget subscribe-widget clearfix">

                                <h4>Subscribe For Latest Offers</h4>
                                <h5>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                                <form action="#" role="form" class="notopmargin nobottommargin">
                                    <div class="input-group divcenter">
                                        <input type="text" class="form-control" placeholder="Enter your Email" required="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"><i class="icon-email2"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>

                            <div class="widget clearfix">

                                <div id="oc-clients-full" class="owl-carousel image-carousel">

                                    <div class="oc-item"><a href="#"><img src="images/clients/1.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/2.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/3.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/4.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/5.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/6.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/7.png" alt="Clients"></a></div>
                                    <div class="oc-item"><a href="#"><img src="images/clients/8.png" alt="Clients"></a></div>

                                </div>

                                <script type="text/javascript">

                                    jQuery(document).ready(function($) {

                                        var ocClients = $("#oc-clients-full");

                                        ocClients.owlCarousel({
                                            items: 1,
                                            margin: 10,
                                            loop: true,
                                            nav: false,
                                            autoplay: true,
                                            dots: false,
                                            autoplayHoverPause: true
                                        });

                                    });

                                </script>

                            </div>

                        </div>
                    </div><!-- .sidebar end -->

                </div>

            </div>

        </section><!-- #content end -->

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/static/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
{% endblock %}