<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ff22f60e129a9669ae091f109d6a565a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="www.gogohome.com" />
    <meta name="title" content="归梓" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="一个独立自主的原创生活馆品牌" />
    <meta name="keywords" content="家居,装修,眉山,灯饰,设计,艺术,窗帘,北欧风格,美式,现代,风格,宜家,吊灯,LED,落地灯,客厅" />
    <meta property="wb:webmaster" content="bd0c9fd7f62495d1" />
    <meta property="og:locale" content="zh_CN">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="归梓">
    <meta property="og:url" content="http://www.gogohome.com/">
    <meta property=”og:title” content=”归梓”/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Stylesheets
    ============================================= -->
{#	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Helvetica:300,400,500,600,700|'Microsoft YaHei':400italic" rel="stylesheet" type="text/css" />#}
    <link href="http://fonts.useso.com/css?family=Lato:300,400,400italic,600,700|Roboto:100,200,300,400,500,700|Helvetica:300,400,500,600,700|'Hiragino Sans GB':400,500|'Microsoft YaHei':400,500" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css" />
{#    <link rel="stylesheet" href="/static/styles/fonts.css" type="text/css" />#}
    <link rel="stylesheet" href="/static/styles/dark.css" type="text/css" />
{#    <link rel="stylesheet" href="/static/styles/font-awesome.css" type="text/css" />#}
    <link rel="stylesheet" href="/static/styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/static/styles/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% block styles %}
    {% endblock %}
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="/static/scripts/jquery.js"></script>
	<script type="text/javascript" src="/static/scripts/plugins.js"></script>
    <!-- Document Title
    ============================================= -->
	<title>{% block title %} {% endblock %}</title>
</head>
<body class="stretched">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Header
        ============================================= -->
        {% block header %}
        {% endblock %}
        <!-- #Header end -->

        <!-- Page Title
        ============================================= -->
        {% block slider %}
        {% endblock %}
        <!-- #Page Title end -->

        <!-- Center Content
        ============================================= -->
        {% block center-content %}
        {% endblock %}
        <!-- #Center Content end -->

        <!-- Footer
        ============================================= -->
        {% block footer %}
        {% endblock %}
        <!-- #footer end -->
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    {% block gotoTop %}
    {% endblock %}
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/static/scripts/functions.js"></script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2057332" charset="utf-8"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>