{% extends "base_general.html" %}

{% block styles %}
    <style>
        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="static/include/rs-plugin/css/settings.css" media="screen" />
{% endblock %}

{% block title %}
    商品
{% endblock %}

</head>

{% block slider %}
    <!-- Page Title
    ============================================= -->
    <section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

        <!--
        #################################
            - THEMEPUNCH BANNER -
        #################################
        -->
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-saveperformance="off" data-title="Latest Collections" style="background-color: #fefefe;">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="-100"
                             data-y="0"
                             data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><img src="images/shop/slider/5.jpg" alt="Girl"></div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="700"
                             data-y="75"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333;">低至30% 折扣</div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                             data-x="700"
                             data-y="105"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; max-width: 430px; white-space: normal; line-height: 1.15;">迎接11.11</div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                             data-x="700"
                             data-y="275"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">仍然可以找到你的最爱</div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="700"
                             data-y="375"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><a href="#" class="button button-border button-large button-rounded tright nomargin"><span>详情</span> <i class="icon-angle-right"></i></a></div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Messenger bags" style="background-color: #E9E8E3;">
                        <!-- LAYERS -->

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="630"
                             data-y="78"
                             data-customin="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="color: #333;">线下体验中心</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="0"
                             data-y="110"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333;">来我们的体验中心实景体验</div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                             data-x="0"
                             data-y="140"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; white-space: normal; line-height: 1.15;">线下体验中心</div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                             data-x="0"
                             data-y="240"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">来我们的体验中心实景体验</div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><a href="#" class="button button-border button-large button-rounded tright nomargin"><span>线下体验</span> <i class="icon-angle-right"></i></a></div>

                        <div class="tp-caption customin utb tp-resizeme revo-slider-caps-text uppercase"
                             data-x="510"
                             data-y="0"
                             data-customin="x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="600"
                             data-start="2100"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><img src="images/shop/slider/1.jpg" alt="Bag"></div>

                    </li>
                </ul>
            </div>
        </div>

        <script type="text/javascript">

            jQuery(document).ready(function() {
                jQuery('.tp-banner').show().revolution(
                        {
                            dottedOverlay:"none",
                            delay:16000,
                            startwidth:1140,
                            startheight:500,
                            hideThumbs:200,

                            thumbWidth:100,
                            thumbHeight:50,
                            thumbAmount:5,

                            navigationType:"none",
                            navigationArrows:"solo",
                            navigationStyle:"preview2",

                            touchenabled:"on",
                            onHoverStop:"on",

                            swipe_velocity: 0.7,
                            swipe_min_touches: 1,
                            swipe_max_touches: 1,
                            drag_block_vertical: false,

                            parallax:"mouse",
                            parallaxBgFreeze:"on",
                            parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

                            keyboardNavigation:"off",

                            navigationHAlign:"center",
                            navigationVAlign:"bottom",
                            navigationHOffset:0,
                            navigationVOffset:20,

                            soloArrowLeftHalign:"left",
                            soloArrowLeftValign:"center",
                            soloArrowLeftHOffset:20,
                            soloArrowLeftVOffset:0,

                            soloArrowRightHalign:"right",
                            soloArrowRightValign:"center",
                            soloArrowRightHOffset:20,
                            soloArrowRightVOffset:0,

                            shadow:0,
                            fullWidth:"on",
                            fullScreen:"off",

                            spinner:"spinner4",

                            stopLoop:"off",
                            stopAfterLoops:-1,
                            stopAtSlide:-1,

                            shuffle:"off",

                            autoHeight:"off",
                            forceFullWidth:"off",



                            hideThumbsOnMobile:"off",
                            hideNavDelayOnMobile:1500,
                            hideBulletsOnMobile:"off",
                            hideArrowsOnMobile:"off",
                            hideThumbsUnderResolution:0,

                            hideSliderAtLimit:0,
                            hideCaptionAtLimit:0,
                            hideAllCaptionAtLilmit:0,
                            startWithSlide:0,
                            fullScreenOffsetContainer: ".header"
                        });




            }); //ready
        </script>
        <!-- END REVOLUTION SLIDER -->
    </section>
{% endblock %}

{% block center-content %}
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <div id="shop-promotion">
                <div class="container clearfix">
                    <div class="col-md-8 nopadding">
                        <div class="col-md-6 noleftpadding bottommargin-sm">
                            <a href="/dancing"><img src="/static/images/summer-training.jpg" alt="新爱乐艺考，舞蹈"></a>
                        </div>
                        <div class="col-md-6 noleftpadding bottommargin-sm">
                            <a href="#"><img src="/static/images/activity-4.jpg" alt="新爱乐艺考,美术"></a>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-12 noleftpadding">
                            <a href="#"><img src="/static/images/activity-2.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="col-md-4 nopadding">
                        <a href="#"><img src="/static/images/activity-3.jpg" alt="Image"></a>
                    </div>
                    <div class="clear"></div>
                    <div class="clear bottommargin-sm"></div>
                </div>
            </div>
            <div id="shop-categories" class="header-stick footer-stick clearfix">

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/15.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/17.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/6.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/10.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/14.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/19.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/21.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

                <div class="entry-image parallax nobottommargin" style="background-image: url('images/shop/category/23.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

            </div>
        </div>

    </section><!-- #content end -->
{% endblock %}


<!-- Footer Scripts
============================================= -->
{% block scripts %}
    <script type="text/javascript" src="static/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="static/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
{% endblock %}