<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">创建品牌信息</h1>
</div>

<div class="wrapper-md" ng-controller="NewBrandFormCtl">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">品牌信息</div>
                <div class="panel-body">
                    <form role="form" name="brand">
                        <div class="form-group" ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader">
                            <label>选择品牌封面</label>
                            <input ui-jq="filestyle" type="file" nv-file-select="" uploader="uploader" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                        </div>
                        <div class="form-group">
                            <label>品牌名称：</label>
                            <input type="text" ng-model="brand.name" class="form-control" placeholder="品牌名称" required>
                        </div>
                        <div class="form-group">
                            <label>简要描述：</label>
                            <textarea class="form-control" ng-model="brand.short_content" placeholder="简要描述" required/>
                        </div>
                        <div class="form-group">
                            <label>品牌故事：</label>

                            <div lazy-load="textAngular">
                                <div text-angular ng-model="brand.story" class="btn-groups"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="submit_brand()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6" >
            <div ng-show="display_cover" class="bg-light">
                <img ng-src="{{ uploads }}" class="w-xxl">
            </div>
        </div>
    </div>
</div>