<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">商品管理</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="BrandCtl">
    <div class="panel-heading">
      商品管理
    </div>
    <div class="row wrapper">
      <div class="col-sm-3 m-b-xs">
        <button class="btn btn-sm btn-default" ng-click="adduser()">添加新用户</button>
      </div>
      <div class="col-sm-5">
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="品牌名字">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">查找!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox"><i></i>
              </label>
            </th>
            <th>ID</th>
            <th>品牌名</th>
            <th>描述</th>
            <th>创建日期</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="brand in brands">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
            <td>{{brand.short_content}}</td>
            <td>{{brand.created_at}}</td>
            <td>
              <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
      <div class="col-sm-4 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">Bulk action</option>
          <option value="1">删除</option>
          <option value="2">编辑</option>
          <option value="3">Export</option>
        </select>
        <button class="btn btn-sm btn-default">应用</button>
      </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>