<!-- Comments List
                                ============================================= -->
<ol class="commentlist clearfix">
    {% for comment in comment_list %}
        <li class="comment even thread-even depth-1" id="li-comment-{{ comment.id }}">
            <div id="comment-{{ comment.id }}" class="comment-wrap clearfix">
                <div class="comment-meta">
                    <div class="comment-author vcard">
                        <span class="comment-avatar clearfix">
                            <img alt='' src='{{ comment.user.profile.get_mugshot_url }}'
                                       class='avatar avatar-60 photo avatar-default' height='60'
                                                         width='60'/></span>
                    </div>
                </div>
                <div class="comment-content clearfix">
                    <div class="comment-author">{{ comment.user_name }}<span><a href="#" title="Permalink to this comment">{{ comment.submit_date }}</a></span></div>
                    <p>{{ comment.comment }}</p>
                    <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                </div>
            </div>
        </li>
    {% endfor %}
</ol>